$bp-small: 552px;
$bp-medium: 766px;
$bp-big: 992px;
$bp-main: 1280px;
$bp-main_big: 1920px;

$offset: 15px;
$time: 0.3s;

$color-brand: #9b51e0;
$color-brand_light: #ad8bcc;
$color-brand_shadow: #6d3d99;
$color-sub-brand: #ffc740;
$color-text: #000;
$color-sub-text: #fff;
